@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import "denne-sketchy";

// variables
$font-decorative: denne-sketchy, sans-serif;
$font-standard: Roboto, sans-serif;
$font-header: "Roboto Slab", serif;