@import "partials/normalize";
@import "bourbon";
@import "neat";
@import "partials/grid";
@import "partials/fonts";


.faux-nav {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 42px;
}

.logo {
    background: url("images/nav_logo.png") center no-repeat;
    background-size: contain;
    margin: 7px 0px 7px 20px;
    height: 55px;
    width: 55px;
}

.handwritten {
    display: block;
    height: 28px;
    margin: auto;
}

.headline {
    text-align: center;
    margin-bottom: 41px;

    &-title {
        margin-top: 15px;
        font-family: $font-decorative;
        font-size: 84px;
        margin: 0 auto;
    }
}

.teaser {
    color: #898989;
    font-family: $font-standard;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin: 40px auto;
    text-align: center;

    @include media($mobile) {
        margin: 24px 10% 12px;
    }

    p {
        margin: 0;

        @include media($mobile) {
            display: inline;
        }
    }

    &-video {
        background-color: #000;
        background-image: url("images/teaser_video.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 650px;
        margin: auto;
        position: relative;

        @include media($mobile) {
            height: 400px;
        }
        @include media($smallmobile) {
            height: 193px;
        }
    }
}

.video-play {
    background: url("images/icons/ic_play_circle_outline_white_2x_web_48dp.png") center no-repeat;
    background-size: contain;
    height: 80px;
    left: 50%;
    margin: -40px -40px 0 0;
    position: absolute;
    top: 50%;
    width: 80px;

    @include media($mobile) {
        height: 40px;
        margin: -15px -15px 0 0;
        width: 40px;
    }
}

.main-video-wrapper {
    background-color: #000;
    width: 100%;
}

.column {
    float: left;
    height: 400px;
    position: relative;
    width: 33.33%;

    @include media($mobile) {
        height: auto;
        margin-bottom: 6px;
        width: 100%;
    }
}

.exhibits {
    @include clearfix;
    margin-bottom: 15px;
    margin-top: 35px;
    position: relative;
    width: 100%;

    @include media($mobile) {
        margin-bottom: 0;
    }
}

.exhibit {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    position: relative;
    width: 365px;

    @include media($smalldesktop) {
        width: 305px;
    }

    @include media($tablet) {
        width: 250px;
    }

    @include media($mobile) {
        background-position: center;
        background-size: cover;
        padding-bottom: 90%;
        width: 100%;
    }

    &-title {
        bottom: 0;
        left: 46px;
        position: absolute;

        @include media($smalldesktop) {
            bottom: 40px;
        }

        h2 {
            color: #FFF;
            font-family: "Roboto Slab";
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            margin: 0;
        }

        span {
            display: block;
        }
    }

    p {
        color: #4285f4;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 500;
        margin: 15px 0 45px;
        text-transform: uppercase;

        &:after {
            content: url('/images/circle_arrow.png');
            display: inline-block;
            height: 12px;
            margin-left: 7px;
            position: absolute;
            transform: scale(.5);
            width: 15px;
        }
    }
}

.exhibit-1 {
    background-image: url("images/exhibit_1.png");
}

.exhibit-2 {
    background-image: url("images/exhibit_2.png");
}

.exhibit-3 {
    background-image: url("images/exhibit_3.png");

    @include media($mobile) {
        margin-bottom: -7px;
    }
}

.social-footer {
    background-color: #448AFF;
    height: 132px;
    width: 100%;

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 50px 0 0;
        width: 45%;

        @include media($tablet) {
            width: 100%;
        }
        @include media($mobile) {
            width: 100%;
        }

    }

    li {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 25px;
        margin: auto;
        width: 24%;
    }

    @each $icon in "facebook", "twitter", "google_plus", "pinterest" {
        .icon-#{$icon} {
            background-image: url("images/icons/#{$icon}.png");
        }
    }
}

.faux-footer {
    background-color: #F6F6F6;
    background-image: url("images/desktop_footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
    margin-top: -93px;
    position: relative;
    z-index: -1;

    @include media($mobile) {
        background-image: url("images/mobile_footer.png");
        background-position: top;
        background-size: contain;
        height: 1257px;
        margin-top: -5px;
    }
}

.embed-responsive {
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    
    &.embed-responsive-16by9 {
        padding-bottom: 56.25%;
    }

    &-item {
        border: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.ng-modal-overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    position: fixed;
    opacity: 0.8;
    top: 0;
    width: 100%;
    z-index: 5;
}

.ng-modal-dialog {
    background-color: #FFF;
    box-shadow: 4px 4px 80px #FFF;
    height: 80%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 10;
}

.ng-modal-close {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    position: absolute;
    right: 5px;
    font-size: 25px;
    top: 3px;
}
